<%= render 'shared/navbar' %>

<h1>Welcome to Cocktailib'</h1>
<h2>Here are all our cocktails</h1>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <%= link_to cocktail_path(cocktail) do %>
        <%= render 'shared/card', cocktail: cocktail  %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


<!-- ********** Past ********** -->

<!-- <ul>
<% @cocktails.each do |cocktail| %>
<li>
  <p> <%= cocktail.name %></p>
  <%= link_to "Show", cocktail_path(cocktail) %>
  <%= link_to "Delete", cocktail_path(cocktail), method: :delete, data: { confirm: "Are you sure you want to delete it?" }  %>

</li>
<% end %>
</ul> -->
