<%= render 'shared/navbar' %>

<h2>Let's create a cocktail</h2>

<div class="container">
  <div class="row">
    <div class="col-sm-offset-4 col-sm-4">
      <%= simple_form_for @cocktail do |f| %>
        <%= f.input :name %>
        <%= f.input :photo, as: :attachinary %>
        <%= f.submit "add a cocktail", class: "btn btn-medium btn-center" %>
      <% end %>
    </div>
  </div>
</div>


