<h1>Doses#new</h1>
<p>Find me in app/views/doses/new.html.erb</p>

<h2> Add a dose for <%= @cocktail.name  %></h2>

<%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :ingredient, collection: @ingredients.pluck(:name) %>
      <%= f.input :description %>
  <%= f.submit "add an ingredient", class: "btn btn-primary" %>
<% end %>

<%= link_to "Back to cocktail", cocktail_path(@cocktail)  %>
